.idea
.vscode
coverage
cypress
evaluation
node_modules
tests
.env
.git
.gitignore
.gitlab-ci.yml
.prettierignore
.prettierrc.json
docker-compose.yml
Dockerfile
eslint.config.js
INSTALL.md
README.md
CITATION.cff